azure-storage-blob==12.8.1
azure-storage-queue==12.1.5
azure-storage-file-share==12.5.0
Flask==2.2.5
geopy==2.4.1
ipywidgets==7.6.5
matplotlib==3.8.0
numpy>=1.21,<2
pandas==2.0.3
Pillow==10.4.0
plotly==5.9.0
PyMySQL==1.1.1
pyodbc==5.0.1
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.2.2
shiny==0.10.2
shinywidgets==0.3.3
SQLAlchemy==2.0.25
utils==1.0.2
mysql-connector-python==9.0.0
gunicorn




